name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Check SSH secrets
        run: |
          if [ -z "${{ secrets.SERVER_IP }}" ]; then
            echo "❌ SERVER_IP is EMPTY"
            exit 1
          fi

          if [ -z "${{ secrets.SERVER_SSH_KEY }}" ]; then
            echo "❌ SERVER_SSH_KEY is EMPTY"
            exit 1
          fi

          echo "✅ Secrets OK"

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_IP }}
          username: deploy
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            set -e
            cd /var/www/company
            docker compose pull
            docker compose up -d
