name: CI/CD Produzione

on:
  push:
    [cite_start]branches: [main] # Rilasci frequenti su codice stabile [cite: 7, 51]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend # Risolve l'errore ENOENT
    steps:
      - uses: actions/checkout@v4
      
      - name: Install & Test
        run: |
          npm install
          npm test # Scrittura test obbligatoria [cite: 74]

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          [cite_start]SONAR_HOST_URL: http://157.90.236.220:9000 # [cite: 123]

      - name: Build Docker Image
        run: |
          docker build -t timbrio-backend:${{ github.sha }} . # [cite: 158]